<h1>StaticPages#home</h1>
<br>
<p>Find me in app/views/static_pages/home.html.erb</p>

<% unless user_signed_in? %>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
<% end %>

<br>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla id purus ut magna ornare venenatis eu eget libero.
    Phasellus mattis venenatis neque at condimentum.
    Praesent ante tortor, varius non aliquet eget, vehicula sit amet lectus.
    Cras viverra, ante in aliquam pellentesque, diam enim consequat lectus, sed gravida eros augue vel justo.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Proin cursus fringilla consectetur. Nullam eu erat diam, ac vulputate mi.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Cras sem ante, aliquet ut consectetur vel, gravida ac eros.
  </p>
  <br>

  <p>
    Vivamus varius aliquet nisl, eu auctor erat rhoncus sodales.
    Fusce tortor libero, pellentesque non suscipit ac, pretium et velit.
    Proin mattis tincidunt ultricies. Donec in dolor purus.
    Nullam eget diam non ipsum scelerisque pretium a eu arcu.
    Praesent euismod nisi non augue fringilla mollis. Suspendisse iaculis porttitor laoreet.
    Integer cursus nunc ac est posuere eleifend.
  </p>
  <br>

  <p>
    Nulla facilisi. Praesent ac blandit orci. Aenean lacinia velit sit amet arcu commodo vel mollis mi aliquet.
    Vestibulum vitae nibh mauris, in tincidunt mi. Nulla facilisi. Quisque vel nunc mi.
    Mauris ac arcu tellus, sit amet dapibus eros. Aenean nisl velit, aliquam ut vestibulum eget, tempor in felis.
    Quisque tincidunt laoreet lobortis.
  </p>
  <br>

  <p>
    Vivamus ut felis dui. Etiam et venenatis dolor. Duis fringilla purus eu mi fermentum id feugiat diam aliquam.
    Nullam pellentesque sapien ac quam commodo tempus. Suspendisse rutrum tempor metus, et tincidunt metus pretium id.
    Aliquam dictum sapien sed augue aliquam quis iaculis justo gravida. Sed et nisl justo.
    Curabitur a enim eu felis bibendum vehicula ac vitae lacus. Suspendisse massa lacus,
    dictum suscipit luctus lobortis, placerat vel sapien. Proin id tortor metus. In eu nisi sed arcu imperdiet pharetra.
    Maecenas euismod augue non nunc euismod fermentum. Quisque tristique sodales molestie.
    In fermentum magna vitae justo suscipit placerat. Sed vel vulputate libero. Mauris non orci nunc.
  </p>
  <br>

  <p>
    Vestibulum in feugiat massa. Nullam lacinia neque in leo laoreet fermentum vitae in purus.
    Mauris eget sapien non tellus vulputate scelerisque. Vivamus ullamcorper fermentum ipsum nec tempor.
    Aliquam ultricies, nisl non faucibus elementum, purus enim sagittis leo, eget tincidunt tellus metus porttitor
    metus.
    Curabitur ornare, purus eu tristique tincidunt, dui nibh vestibulum lorem,
    sit amet ullamcorper turpis sem vehicula urna. Suspendisse potenti. In sit amet nisl et dolor molestie tempus
  </p>
  <br>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla id purus ut magna ornare venenatis eu eget libero.
    Phasellus mattis venenatis neque at condimentum.
    Praesent ante tortor, varius non aliquet eget, vehicula sit amet lectus.
    Cras viverra, ante in aliquam pellentesque, diam enim consequat lectus, sed gravida eros augue vel justo.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Proin cursus fringilla consectetur. Nullam eu erat diam, ac vulputate mi.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Cras sem ante, aliquet ut consectetur vel, gravida ac eros.
  </p>
  <br>

  <p>
    Vivamus varius aliquet nisl, eu auctor erat rhoncus sodales.
    Fusce tortor libero, pellentesque non suscipit ac, pretium et velit.
    Proin mattis tincidunt ultricies. Donec in dolor purus.
    Nullam eget diam non ipsum scelerisque pretium a eu arcu.
    Praesent euismod nisi non augue fringilla mollis. Suspendisse iaculis porttitor laoreet.
    Integer cursus nunc ac est posuere eleifend.
  </p>
  <br>

  <p>
    Nulla facilisi. Praesent ac blandit orci. Aenean lacinia velit sit amet arcu commodo vel mollis mi aliquet.
    Vestibulum vitae nibh mauris, in tincidunt mi. Nulla facilisi. Quisque vel nunc mi.
    Mauris ac arcu tellus, sit amet dapibus eros. Aenean nisl velit, aliquam ut vestibulum eget, tempor in felis.
    Quisque tincidunt laoreet lobortis.
  </p>
  <br>

  <p>
    Vivamus ut felis dui. Etiam et venenatis dolor. Duis fringilla purus eu mi fermentum id feugiat diam aliquam.
    Nullam pellentesque sapien ac quam commodo tempus. Suspendisse rutrum tempor metus, et tincidunt metus pretium id.
    Aliquam dictum sapien sed augue aliquam quis iaculis justo gravida. Sed et nisl justo.
    Curabitur a enim eu felis bibendum vehicula ac vitae lacus. Suspendisse massa lacus,
    dictum suscipit luctus lobortis, placerat vel sapien. Proin id tortor metus. In eu nisi sed arcu imperdiet pharetra.
    Maecenas euismod augue non nunc euismod fermentum. Quisque tristique sodales molestie.
    In fermentum magna vitae justo suscipit placerat. Sed vel vulputate libero. Mauris non orci nunc.
  </p>
  <br>

  <p>
    Vestibulum in feugiat massa. Nullam lacinia neque in leo laoreet fermentum vitae in purus.
    Mauris eget sapien non tellus vulputate scelerisque. Vivamus ullamcorper fermentum ipsum nec tempor.
    Aliquam ultricies, nisl non faucibus elementum, purus enim sagittis leo, eget tincidunt tellus metus porttitor
    metus.
    Curabitur ornare, purus eu tristique tincidunt, dui nibh vestibulum lorem,
    sit amet ullamcorper turpis sem vehicula urna. Suspendisse potenti. In sit amet nisl et dolor molestie tempus
  </p>
  <br>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla id purus ut magna ornare venenatis eu eget libero.
    Phasellus mattis venenatis neque at condimentum.
    Praesent ante tortor, varius non aliquet eget, vehicula sit amet lectus.
    Cras viverra, ante in aliquam pellentesque, diam enim consequat lectus, sed gravida eros augue vel justo.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Proin cursus fringilla consectetur. Nullam eu erat diam, ac vulputate mi.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Cras sem ante, aliquet ut consectetur vel, gravida ac eros.
  </p>
  <br>

  <p>
    Vivamus varius aliquet nisl, eu auctor erat rhoncus sodales.
    Fusce tortor libero, pellentesque non suscipit ac, pretium et velit.
    Proin mattis tincidunt ultricies. Donec in dolor purus.
    Nullam eget diam non ipsum scelerisque pretium a eu arcu.
    Praesent euismod nisi non augue fringilla mollis. Suspendisse iaculis porttitor laoreet.
    Integer cursus nunc ac est posuere eleifend.
  </p>
  <br>

  <p>
    Nulla facilisi. Praesent ac blandit orci. Aenean lacinia velit sit amet arcu commodo vel mollis mi aliquet.
    Vestibulum vitae nibh mauris, in tincidunt mi. Nulla facilisi. Quisque vel nunc mi.
    Mauris ac arcu tellus, sit amet dapibus eros. Aenean nisl velit, aliquam ut vestibulum eget, tempor in felis.
    Quisque tincidunt laoreet lobortis.
  </p>
  <br>

  <p>
    Vivamus ut felis dui. Etiam et venenatis dolor. Duis fringilla purus eu mi fermentum id feugiat diam aliquam.
    Nullam pellentesque sapien ac quam commodo tempus. Suspendisse rutrum tempor metus, et tincidunt metus pretium id.
    Aliquam dictum sapien sed augue aliquam quis iaculis justo gravida. Sed et nisl justo.
    Curabitur a enim eu felis bibendum vehicula ac vitae lacus. Suspendisse massa lacus,
    dictum suscipit luctus lobortis, placerat vel sapien. Proin id tortor metus. In eu nisi sed arcu imperdiet pharetra.
    Maecenas euismod augue non nunc euismod fermentum. Quisque tristique sodales molestie.
    In fermentum magna vitae justo suscipit placerat. Sed vel vulputate libero. Mauris non orci nunc.
  </p>
  <br>

  <p>
    Vestibulum in feugiat massa. Nullam lacinia neque in leo laoreet fermentum vitae in purus.
    Mauris eget sapien non tellus vulputate scelerisque. Vivamus ullamcorper fermentum ipsum nec tempor.
    Aliquam ultricies, nisl non faucibus elementum, purus enim sagittis leo, eget tincidunt tellus metus porttitor
    metus.
    Curabitur ornare, purus eu tristique tincidunt, dui nibh vestibulum lorem,
    sit amet ullamcorper turpis sem vehicula urna. Suspendisse potenti. In sit amet nisl et dolor molestie tempus
  </p>
  <br>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla id purus ut magna ornare venenatis eu eget libero.
    Phasellus mattis venenatis neque at condimentum.
    Praesent ante tortor, varius non aliquet eget, vehicula sit amet lectus.
    Cras viverra, ante in aliquam pellentesque, diam enim consequat lectus, sed gravida eros augue vel justo.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Proin cursus fringilla consectetur. Nullam eu erat diam, ac vulputate mi.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Cras sem ante, aliquet ut consectetur vel, gravida ac eros.
  </p>
  <br>

  <p>
    Vivamus varius aliquet nisl, eu auctor erat rhoncus sodales.
    Fusce tortor libero, pellentesque non suscipit ac, pretium et velit.
    Proin mattis tincidunt ultricies. Donec in dolor purus.
    Nullam eget diam non ipsum scelerisque pretium a eu arcu.
    Praesent euismod nisi non augue fringilla mollis. Suspendisse iaculis porttitor laoreet.
    Integer cursus nunc ac est posuere eleifend.
  </p>
  <br>

  <p>
    Nulla facilisi. Praesent ac blandit orci. Aenean lacinia velit sit amet arcu commodo vel mollis mi aliquet.
    Vestibulum vitae nibh mauris, in tincidunt mi. Nulla facilisi. Quisque vel nunc mi.
    Mauris ac arcu tellus, sit amet dapibus eros. Aenean nisl velit, aliquam ut vestibulum eget, tempor in felis.
    Quisque tincidunt laoreet lobortis.
  </p>
  <br>

  <p>
    Vivamus ut felis dui. Etiam et venenatis dolor. Duis fringilla purus eu mi fermentum id feugiat diam aliquam.
    Nullam pellentesque sapien ac quam commodo tempus. Suspendisse rutrum tempor metus, et tincidunt metus pretium id.
    Aliquam dictum sapien sed augue aliquam quis iaculis justo gravida. Sed et nisl justo.
    Curabitur a enim eu felis bibendum vehicula ac vitae lacus. Suspendisse massa lacus,
    dictum suscipit luctus lobortis, placerat vel sapien. Proin id tortor metus. In eu nisi sed arcu imperdiet pharetra.
    Maecenas euismod augue non nunc euismod fermentum. Quisque tristique sodales molestie.
    In fermentum magna vitae justo suscipit placerat. Sed vel vulputate libero. Mauris non orci nunc.
  </p>
  <br>

  <p>
    Vestibulum in feugiat massa. Nullam lacinia neque in leo laoreet fermentum vitae in purus.
    Mauris eget sapien non tellus vulputate scelerisque. Vivamus ullamcorper fermentum ipsum nec tempor.
    Aliquam ultricies, nisl non faucibus elementum, purus enim sagittis leo, eget tincidunt tellus metus porttitor
    metus.
    Curabitur ornare, purus eu tristique tincidunt, dui nibh vestibulum lorem,
    sit amet ullamcorper turpis sem vehicula urna. Suspendisse potenti. In sit amet nisl et dolor molestie tempus
  </p>